{% extends 'base.html.twig' %}

{% block title %}Chauffeur{% endblock %}

{% block body %}

<h2 style="margin-top: 2%; margin-left: 38%; margin-bottom: 3%">Ajout d'un chauffeur</h2>
<div class="container">
    <div class="form-group" style=" padding: 3%; background-color: rgba(19, 19, 18, 0.2); border-radius: 50%">
        {{ form_start(forms) }}
        <div class="row" style="margin-left: 23%">
            <div class="col-md-4">{{ form_row(forms.nom,{'attr':{'placeholder': 'Saisissez la nom'}}) }}</div>
            <div class="col-md-4">{{ form_row(forms.prenom,{'attr':{'placeholder': 'Saisissez le prenom'}}) }}</div>
        </div>
        <div class="row" style="margin-left: 23%">
            <div class="col-md-4">{{ form_row(forms.date_naissance,{'attr':{'placeholder' :'Choisissez la date'}}) }}</div>
            <div class="col-md-4">{{ form_row(forms.telephone,{'attr':{'placeholder' :'Saisissez le numero de telephone'}}) }}</div>
        </div>
        <div class="row" style="margin-left: 23%">
            <div class="col-md-4">{{ form_row(forms.numero_cni,{'attr':{'placeholder': 'Saisissez le numero de CNI'}}) }}</div>
            <div class="col-md-4">{{ form_row(forms.permis,{'attr':{'placeholder': 'Saisissez le numero de permis'}}) }}</div>
        </div>
        <div class="row" style="margin-left: 23%">
            <div class="col-md-4">{{ form_row(forms.login,{'attr':{'placeholder': 'Saisissez le login'}}) }}</div>
            <div class="col-md-4">{{ form_row(forms.pass_word,{'attr':{'placeholder': 'Saisissez le mots de passe'}}) }}</div>
        </div>
        <button type="submit" class="btn btn-success" style="margin-top: 1%; margin-left: 46%">Ajouter</button>
        {{ form_end(forms) }}

    </div>


    <table class="table" style="margin-top: 40px;">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Date de naissance</th>
            <th>Telephone</th>
            <th>Numero CNI</th>
            <th>Permis</th>
            <th>Login</th>
            <th>Password</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for chauf  in repo %}
            <tr>
                <td>{{ chauf.id }}</td>
                <td>{{ chauf.nom}}</td>
                <td>{{ chauf.prenom }}</td>
                <td>{{ chauf.dateNaissance | date('d/m/Y')}}</td>
                <td>{{ chauf.telephone}}</td>
                <td>{{ chauf.numeroCni}}</td>
                <td>{{ chauf.permis}}</td>
                <td>{{ chauf.login}}</td>
                <td>{{ chauf.passWord}}</td>
                <td>
                    <a href="{{ path('chauffeur_modif',{'id': chauf.id}) }}" class="btn btn-secondary">Modifier</a>
                    <a href="{{ path('chauffeur_delete',{'id': chauf.id}) }}" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        <table/>
    
{% endblock %}
